<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        .navbar1 {
            text-align: center;
            font-weight: bold;
            font-size: x-large overflow: hidden;
            background-color: white;
            position: fixed;
            top: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    {%load static%}
    <div id="instruction" class="container">
        <h2 style="text-align: center;">Instructions</h2>
        <img src="{% static '\images\example-instructions-for-an-online-exam-1-638.jpg' %}" style="width: 80%;" alt="">
        <div style="text-align: center;"><button class="btn btn-primary" id="start" onclick="startexam()">Start</button>
        </div>
    </div>
    <div id="qusform" style="display: none;">

        <form action=" {% url 'finsihexam' %}" method="POST" id="exam">
            {% csrf_token %}
            <div class="navbar1">
                <br>
                <p id="demo" class=""></p>
            </div>
            <br><br><br>
            <h2 style="text-align: center;">Questions</h2>
            <div style="padding-left: 10px;">
                {% for examdata in examdata %}
                <input type="text" style="display: none;" name="{{ forloop.counter }}" value="{{ examdata.id }}">
                <p style="font-size: large; font-weight: bold;">{{ forloop.counter }}. {{ examdata.question }}</p>
                <label for="opt1" class="form-group"><input type="radio" class="form-group" id="opt1" name="{{examdata.id}}" value="{{ examdata.opt1 }}">&nbsp;{{ examdata.opt1 }}</label>&nbsp;&nbsp;&nbsp;
                <label for="opt2" class="form-group"><input type="radio" class="form-group" id="opt2" name="{{examdata.id}}" value="{{ examdata.opt2 }}">&nbsp;{{ examdata.opt2 }}</label>&nbsp;&nbsp;&nbsp;
                <label for="opt3" class="form-group"><input type="radio" class="form-group" id="opt3" name="{{examdata.id}}" value="{{ examdata.opt3 }}">&nbsp;{{ examdata.opt3 }}</label>&nbsp;&nbsp;&nbsp;
                <label for="opt4" class="form-group"><input type="radio" class="form-group" id="opt4" name="{{examdata.id}}" value="{{ examdata.opt4 }}">&nbsp;{{ examdata.opt4 }}</label>&nbsp; {% endfor %}
                <br>

                <button class="button btn-primary">Finish</button>

            </div>

        </form>
    </div>
    <script>
        function startexam() {
            document.getElementById("instruction").style.display = "none"
            document.getElementById("qusform").style.display = "block"
            var countdown = 30 * 60 * 1000;
            var timerId = setInterval(function() {
                countdown -= 1000;
                var min = Math.floor(countdown / (60 * 1000));
                //var sec = Math.floor(countdown - (min * 60 * 1000));  // wrong
                var sec = Math.floor((countdown - (min * 60 * 1000)) / 1000);



                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML = min + "m " + sec + "s ";

                // If the count down is finished, write some text
                if (countdown < 0) {
                    alert("Time Over!!!!");
                    clearInterval(timerId);
                    document.getElementById("exam").submit();

                }
            }, 1000);
        }
    </script>
</body>

</html>