<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <span id="status"></span>
    <form method="POST" action="changepass" onsubmit="return checkpass()">
        {% csrf_token %}
        <div class="form-group">
            <label for="pswd">New Password</label>
            <input type="password" class="form-control" id="pswd" name="password" required>
        </div>
        <div class="form-group">
            <label for="cnfpswd">confirm new password</label>
            <input type="password" class="form-control" id="cnfpswd" name="confirm" required>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </form>
    <script>
        function checkpass() {
            password = document.getElementById("pswd").value
            cnfpassword = document.getElementById("cnfpswd").value
            if (password != cnfpassword) {
                alert("Passwords are missmatch");
                return false;
            } else {
                alert(" Password changed successfully")
            }
        }
        $('#pswd, #cnfpswd').on('keyup', function() {
            if ($('#pswd').val() == $('#cnfpswd').val()) {
                $('#status').html('Passwords are Matching').css('color', 'green');
            } else
                $('#status').html('Passwords are not Matching').css('color', 'red');
        });



        // $.ajaxSetup({
        //     headers: {
        //         "X-CSRFToken": '{{csrf_token}}'
        //     }
        // })

        // function passcheck() {
        //     // document.write("haii")
        //     $.ajax({
        //         url: 'checkpass',
        //         type: 'POST',
        //         data: {
        //             pass: $('#pswd').val(),
        //             cnfpass: $('#cnfpswd').val(),
        //         },
        //         success: function(response) {
        //             resp = response.message
        //             $('#status').append("resp");
        //         }
        //     })

        // }
    </script>
</body>

</html>