<html>

<head>

    ​
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ feedata.name }}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{ feedata.department }}</td>
                </tr>
                <tr>
                    <th>Batch</th>
                    <td>{{ feedata.batch }}</td>
                </tr>
                <tr>
                    <th>Semester</th>
                    <td>{{ feedata.semester }}</td>
                </tr>
            </tbody>
        </table>




        <!-- <form id="usrregfrm" name="userregform" onsubmit="return usrregvalid()" method="POST" action="userregistration">
        {% csrf_token %}
        <div class="container">
            <label for="ammount">Enter Ammount to be paid</label>
            <input type="text" class="form-control" id="ammount" name="fee" required>
        </div>


    </form> -->
        <!-- 
        <form>

            <div class="form-group row">
                <label for="ammount" class="col-sm-3 col-form-label">Enter Ammount to be paid <br>(  In Rupees</i> )</label>

                <div class="col-sm-9">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="ammount" name="fees" placeholder="Ammount">

                </div>

            </div>
        </form> -->
        <label for="">Ammount Paid :</label>
        <label for="">{{ totalpaid }}</label><br>
        <label for="">Balance :</label>
        <label for="">5000</label>
        <br><br>
        <form action="/paidfee/{{ feedata.std_id }}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-group col-sm-12">
                    <label for="sem">Semester</label><br>
                    <select class="form-control" id="sem" name="semester">
                    <option>{{ sem }}</option>
                </select>
                </div><br>
                <div>
                    <label for="ammount">Enter ammount to be paid</label>
                </div>
            </div>
            <div class="row">
                <div class="input-group col-sm-12">
                    <span class="input-group-addon "><i class="fa fa-inr " aria-hidden="true "></i></span>
                    <input id="ammount" name="fees" type="text" class="form-control" placeholder="Enter ammount to be paid " onkeypress="return isNumber(event)" required>
                </div><br>
                <div class="col-sm-10">

                </div>
                <div class="col-sm-2">
                    <button class="btn btn-light " type="button">Cancel</button>&nbsp
                    <button class="btn btn-primary" type="submit">Pay</button>

                </div>


            </div>
        </form>
    </div>
    <script>
        function isNumber(evt) {
            var phoneformat = /^\d{10}$/;

            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
        }
    </script>
</body>


</html>