{%extends 'admin.html'%} {%block content%}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Batch</th>
                <th scope="col">Semester</th>
                <th scope="col">Paid</th>
                <th scope="col">Balance</th>

            </tr>
        </thead>
        <tbody>
            {% for feedata in feesdata %}
            <tr>
                {% with paid=0 %} {% endwith %}
                <td>{{ feedata.std_id }}</td>
                <td><a href="adminviewfee/{{ feedata.std_id}}">{{ feedata.name }}</a></td>
                <td>{{ feedata.department }}</td>
                <td>{{ feedata.batch }}</td>
                <td>{{ feedata.semester }}</td>
                {% with paid=feedata.sem1paid %}
                <td></td>
                <td></td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endblock%}