{%extends 'admin.html'%} {%block content%}{% csrf_token %}
<div class="row">
    <div class="btn btn-group" aria-label="Basic example">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Contact</th>
            <th scope="col">Date Of Join</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for usrdata in userdata %}
        <tr>
            <td>{{usrdata.std_id}}</td>
            <td>{{usrdata.name}}</td>
            <td>{{usrdata.department}}</td>
            <td>{{usrdata.dateofbirth}}</td>
            <td>{{usrdata.blood_group}}</td>
            <td>{{usrdata.phone}}</td>
            <td>{{usrdata.dateofjoin}}</td>
            <td>{{usrdata.designation}}</td>
            <td><a class="btn btn-primary" id="btn_dlt_usr" href="#" role="button">Delete User</a></td>
            <td><a class="btn btn-primary" id="btn_edt_usr" href="#" role="button">Update User</a></td>
        </tr>
        {% endfor %} {% for usrdata in staffdata %}
        <tr>
            <td>{{usrdata.std_id}}</td>
            <td>{{usrdata.name}}</td>
            <td>{{usrdata.department}}</td>
            <td>{{usrdata.dateofbirth}}</td>
            <td>{{usrdata.blood_group}}</td>
            <td>{{usrdata.phone}}</td>
            <td>{{usrdata.dateofjoin}}</td>
            <td>{{usrdata.designation}}</td>
            <td><a class="btn btn-primary" id="btn_dlt_usr" href="#" role="button">Delete User</a></td>
            <td><a class="btn btn-primary" id="btn_edt_usr" href="#" role="button">Update User</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}