{%extends 'exam-staff.html'%} {%block feecontent%}
<div class="row">
    <!-- <div class="col-lg-6">
        <br>

    </div> -->
    <div class="col-lg-12">
        <h3 class="head3">Create Exam</h3>
        <form action="Manageexam" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="examname">Exam Name</label><br>
                <input type="text" class="form-control" id="examname" name="examname" required>
            </div>
            <div class="form-group">
                <label>Select your Department</label><br>

                <select id="dept_name" name="dpt_name" class="form-control">
                    {% for dptdata in deptdata %}               
                        <option value="{{dptdata.dept_name}}">{{dptdata.dept_name}}</option>
                    {% endfor %}
                </select><br>
                <button type="submit" class="btn btn-primary">Add questions</button>
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <h3 class="head3">View Exam</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Exam Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">status</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>maths q1</td>
                    <td>CS</td>
                    <td>Deactivated</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success">Activate</button>
                            <button type="button" class="btn btn-warning">Stop</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>maths q1</td>
                    <td>Mec</td>
                    <td>Finished</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success">Activate</button>
                            <button type="button" class="btn btn-warning">Stop</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{%endblock%}