{%extends 'exam-staff.html'%} {%block feecontent%}
<div class="row">
    <!-- <div class="col-lg-6">
        <br>

    </div> -->
    <div class="col-lg-12">
        <h3 class="head3">Create Exam</h3>
        <form action="">
            <div class="form-group">
                <label for="examname">Exam Name</label><br>
                <input type="text" class="form-control" id="examname">
            </div>
            <div class="form-group">
                <label>Select your Department</label><br>

                <input type="checkbox"> <label>&nbsp&nbsp CS</label><br>
                <input type="checkbox"> <label>&nbsp&nbsp Mech</label><br>
                <input type="checkbox"> <label>&nbsp&nbsp EEE</label><br>
            </div>
            <div class="form-group">
                <label for="examquestion">Question:</label>
                <textarea class="form-control" id="examquestion" rows="3" placeholder="Enter your question"></textarea>
            </div>
            <div class="form-group">
                <label for="exam-fileattach">Attach your file</label><br>
                <input type="file" class="" id="exam-fileattach">
            </div>
            <label>Options(Check correct option)</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="crctans">
                    </div>
                </div>
                <input type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="crctans">
                    </div>
                </div>
                <input type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="crctans">
                    </div>
                </div>
                <input type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="crctans">
                    </div>
                </div>
                <input type="text" class="form-control">
            </div>
            <br>
            <button type="button" class="btn btn-primary">Next</button>
            <button type="button" class="btn btn-primary" onclick="readexamname()">Finish</button>
        </form>
    </div>
    <div class="col-lg-12">
        <h3 class="head3">View Exam</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Exam Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">status</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>maths q1</td>
                    <td>CS</td>
                    <td>Deactivated</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success">Activate</button>
                            <button type="button" class="btn btn-warning">Stop</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>maths q1</td>
                    <td>Mec</td>
                    <td>Finished</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success">Activate</button>
                            <button type="button" class="btn btn-warning">Stop</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{%endblock%}