{%load static%}
<html>

<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container {
            float: left;
            position: relative;
            width: 50%;
            text-align: center;
        }
        
        .nav {
            display: inline;
        }
        
        .image {
            float: left;
        }
        
        .image img {
            width: 50%;
        }
        
        .title {
            width: 50%;
            position: absolute;
            bottom: -10px;
        }
    </style>
</head>

<body>
    <div class="nav">
        {% for bkdata in bookdata %}
        <div class="container">
            <div class="image">
                <a href="/app/media/books/{{bkdata.bookfilename}}"><img src="/static/images/pdf-img.png" height="200px" width="200px"></a>
            </div>
            <div class="title">
                <p> {{ bkdata.bookname }}</p>
            </div>
        </div>

        {% endfor %}
    </div>

</body>

</html>