{%load static%}
<html>

<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <label>View Books</label>
            </div>
            <div class="col-lg-6">
                <br>
                <label>Upload Book</label><br>
                <form>


                    <div class="form-group">
                        <label for="bkname">Book name</label>
                        <input type="text" class="form-control" id="bkname" name="bookname">

                    </div>




                    <div class="form-group">
                        <label for="dept">Department</label>
                        <select class="form-control" id="dept">
                            <option>cs</option>
                            <option>mech</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="batch">batch</label>
                        <select class="form-control" id="batch">
                            <option>2019-20</option>
                            <option>2018-19</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="bkupload">upload</label>
                        <input type="file" class="form-control-file" id="bkupload">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 
    <form>
        <div class="form-group">
            <label for="dept">Department</label>
            <select class="form-control" id="dept">
                <option>cs</option>
                <option>mech</option>
              </select>
        </div>
        <div class="form-group">
            <label for="batch">batch</label>
            <select class="form-control" id="batch">
                <option>cs19</option>
                <option>cs18s</option>
              </select>
        </div>
    </form> -->

</body>

</html>