<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td> {{ userfee.name }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ userfee.department }}</td>
            </tr>
            <tr>
                <th>Batch</th>
                <td>{{ userfee.batch }}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td>{{ userfee.semester }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Semester</th>
                <th scope="col">Total Fees</th>
                <th scope="col">Paid</th>
                <th scope="col">Pending</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>25000</td>
                <td>25000</td>
                <td>0</td>
                <td>Paid</td>
            </tr>
            <tr>
                <th>2</th>
                <td>25000</td>
                <td>12000</td>
                <td>13000</td>
                <td>Pending</td>
            </tr>
        </tbody>
    </table>
</body>

</html>