<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Available Exams</h2><br>
                <table class="table">

                    <tbody>
                        {% for exmdata in examdata%}
                        <tr>
                            <th>{{exmdata.examname}}</th>
                            <td><a class="btn btn-success" href="startexam/{{exmdata.examname}}">Start Exam</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col-lg-6">
                <h2>Results</h2><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name of exam</th>
                            <th scope="col">semester</th>
                            <th scope="col">Total mark</th>
                            <th scope="col">Mark obtained</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rslt in result %}
                        <tr>
                            <td>{{ rslt.examname }}</td>
                            <td>{{ rslt.semester }}</td>
                            <td>20</td>
                            <td>{{ rslt.mark }}</td>
                            {% if rslt.mark >= 9 %}
                            <td>Passed</td>
                            {% else %}
                            <td>Failed</td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</body>

</html>