{%extends 'admin.html'%} {%block content%}
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>test</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>test</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>test</td>
                </tr>
                <tr>
                    <th>Batch</th>
                    <td>test</td>
                </tr>
                <tr>
                    <th>Semester</th>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col" class="tablecontent">Semester 1</th>
                    <th scope="col" class="tablecontent">Semester 2</th>
                    <th scope="col" class="tablecontent">Semester 3</th>
                    <th scope="col" class="tablecontent">Semester 4</th>
                    <th scope="col" class="tablecontent">Semester 5</th>
                    <th scope="col" class="tablecontent">Semester 6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col" class="tablecontent">Total Fee</th>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>

                </tr>

                <tr>
                    <th scope="col" class="tablecontent">paid</th>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>

                </tr>
                <tr>
                    <th scope="col" class="tablecontent">Balance</th>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                    <td class="tablecontent">1</td>
                </tr>
                <tr>
                    <th scope="col" class="tablecontent"></th>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                    <td class="tablecontent"><button class="btn btn-primary" style="padding-left: 30px; padding-right: 30px;">Pay</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}